<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Documentation</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Flashcard Documentation
            </a>
        </div>
    </nav>

    <div class="container">
        <h2 class="display-6 pt-lg-4 pt-sm-3 pt-xs-4">About this API</h2>
        <p class="lead">
            Flashcards are really helpful for student and teacher to actively recall lessons that they learnt.
            So, this api help developer who like to implement flashcard apps with using different frontend framewroks
            and libraries. By using this Flashcard API developers can complete fully functional flashcard application.
            And also this API has end-to-end backend validations and user authentication using JWT.
        </p>
        <h2 class="display-6 pt-lg-2">Technologies</h2>
        <p class="lead">
            Flashcard API implements using <b>Node JS</b> as backend server language and <b>Express</b> as backend framework. To store
            the data Flashcard API uses <b>MongoDB Atlas</b> as a database service. To implement user password hashing Flashcard
            API uses <b>Json Web Token (JWT)</b>. So, in the backend, all users passwords are hash into unreadable format. The
            important thing is hackers cannot trace users' passwords because when the passwords hashed once, it cannot convert
            to the plain text. So, users' passwords are securely store in the database.
        </p>
        <h2 class="display-6 pt-lg-2">API End Points</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="font-monospace text-dark" >/user/createacc</div>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show"
                     aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h5>Create New User Account</h5>
                        <br>
                        After enter this URL, you have to give the data set like this. When you give dataset make sure
                        to give the dataset in <b>JSON</b> format. And also make sure to give the exactly I mention in
                        below example.
                        <br><br>
                        <code>
                            {<br>
                            &nbsp;&nbsp;&nbsp;"name": "James Wiliam",<br>
                            &nbsp;&nbsp;&nbsp;"email": "james@gmail.com",<br>
                            &nbsp;&nbsp;&nbsp;"password": "james123",<br>
                            &nbsp;&nbsp;&nbsp;"school": "Oxford University",<br>
                            &nbsp;&nbsp;&nbsp;"field": "Software Engineering",<br>
                            &nbsp;&nbsp;&nbsp;"profilePicture": "https://sample.com"<br>
                            }
                        </code>
                        <br><br>
                        <table class="table table-bordered table-hover" style="width: 50%">
                            <thead>
                            <tr>
                                <th scope="col">JSON Key</th>
                                <th scope="col">Data Type</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th><code>"name"</code></th>
                                <td>String</td>
                                <td>Name of the user</td>
                            </tr>
                            <tr>
                                <th><code>"email"</code></th>
                                <td>String</td>
                                <td>Email of the user</td>
                            </tr>
                            <tr>
                                <th><code>"password"</code></th>
                                <td>String</td>
                                <td>User's password</td>
                            </tr>
                            <tr>
                                <th><code>"school"</code></th>
                                <td>String</td>
                                <td>School or University of the user</td>
                            </tr>
                            <tr>
                                <th><code>"field"</code></th>
                                <td>String</td>
                                <td>Field of study</td>
                            </tr>
                            <tr>
                                <th><code>"profilePicture"</code></th>
                                <td>String</td>
                                <td>Link of the profile picture.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Create New User Account
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show"
                     aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>