<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Documentation</title>
    <style>
        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {}

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {}

        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            .container {
                width: 1000px;
            }
        }

        /* X-Large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            .container {
                width: 1000px;
            }
        }

        /* XX-Large devices (larger desktops, 1400px and up) */
        @media (min-width: 1400px) {
            .container {
                width: 850px;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Flashcard Documentation
            </a>
        </div>
    </nav>

    <div class="container">
        <h2 class=" pt-lg-4 pt-sm-3 pt-xs-4">About this API</h2>
        <p>
            Flashcards are really helpful for student and teacher to actively recall lessons that they learnt.
            So, this api help developer who like to implement flashcard apps with using different frontend framewroks
            and libraries. By using this Flashcard API developers can complete fully functional flashcard application.
            And also this API has end-to-end backend validations and user authentication using JWT.
        </p>
        <h2 class="pt-lg-2">Technologies</h2>
        <p>
            Flashcard API implements using <b>Node JS</b> as backend server language and <b>Express</b> as backend framework. To store
            the data Flashcard API uses <b>MongoDB Atlas</b> as a database service. To implement user password hashing Flashcard
            API uses <b>Json Web Token (JWT)</b>. So, in the backend, all users passwords are hash into unreadable format. The
            important thing is hackers cannot trace users' passwords because when the passwords hashed once, it cannot convert
            to the plain text. So, users' passwords are securely store in the database.
        </p>
        <h2 class="pt-lg-2">API End Points</h2>
        <p class="text-nowrap bd-highlight">
            Before using any end points you have to call this url
            <br>
            <code>https://apiflashcard.herokuapp.com/</code><br>
            You can use <a href="https://www.postman.com/downloads/"><b>Postman</b></a> software to test this API in your computer.
        </p>
        <h4>User End Points</h4>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <code>/user/createacc</code>
                <br>
                This route will create new user in the system. When you calling this route you have to
                give the dataset like this. And this route will return newly created user and the authentication token of that user.
            </div>
            <div class="col-lg-6">
                Data Set
                <br>
                <code style="color: chocolate">
                    {<br>
                    &nbsp;&nbsp;&nbsp;"name": "James Wiliam",<br>
                    &nbsp;&nbsp;&nbsp;"email": "james@gmail.com",<br>
                    &nbsp;&nbsp;&nbsp;"password": "james123",<br>
                    &nbsp;&nbsp;&nbsp;"school": "Oxford University",<br>
                    &nbsp;&nbsp;&nbsp;"field": "Software Engineering",<br>
                    &nbsp;&nbsp;&nbsp;"profilePicture": "https://sample.com"<br>
                    }
                </code>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <code>/user/getacc</code>
                <br>
                By calling this route you can get the user profile details. But only user can
                receive his data. Any other person cannot get other users data because to get user details from this route
                you have to use authentication token.
                <br>
                <i>For testing purpose you can get this token when you create a new user.</i>
            </div>
            <div class="col-lg-6">
                Authentication Token
                <br>
                <code style="color: chocolate">
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZmY2MDM0YmYzNDI2NjI2ZTg2YmE5ODMiLCJpYXQiOjE2MDk5NTgyMTl9.ytn2r0K0ZPtKizuOaz3ILhFqX7T5QM8Le6tIOhWesNU"
                </code>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <code>/user/updateacc</code>
                <br>
                By using this route you can update an existing user in the system. To get the result from this route you have to
                give both authentication token and dataset that you want to update.
                <br>
                <i>These tokens are only testing purpose.
                In a real situation, when user need to update their details, only the person who has access to update can make
                modification.</i>
            </div>
            <div class="col-lg-6">
                Data Set
                <br>
                <code style="color: chocolate">
                    {<br>
                    &nbsp;&nbsp;&nbsp;"name": "James Wiliam",<br>
                    &nbsp;&nbsp;&nbsp;"email": "james@gmail.com",<br>
                    &nbsp;&nbsp;&nbsp;"password": "james123",<br>
                    &nbsp;&nbsp;&nbsp;"school": "Oxford University",<br>
                    &nbsp;&nbsp;&nbsp;"field": "Information System Engineering",<br>
                    &nbsp;&nbsp;&nbsp;"profilePicture": "https://sample.com"<br>
                    }
                </code>
                <br>
                Authentication Token
                <br>
                <code style="color: chocolate">
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZmY2MDM0YmYzNDI2NjI2ZTg2YmE5ODMiLCJpYXQiOjE2MDk5NTgyMTl9.ytn2r0K0ZPtKizuOaz3ILhFqX7T5QM8Le6tIOhWesNU"
                </code>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <code>/user/deleteacc</code>
                <br>
                This route will delete an existing user from the system. To use this route you have to provide the authentication
                token in the header.
                <br>
                <i>For testing purpose you can get this token when you create a new user.</i>
            </div>
            <div class="col-lg-6">
                Authentication Token
                <br>
                <code style="color: chocolate">
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZmY2MDM0YmYzNDI2NjI2ZTg2YmE5ODMiLCJpYXQiOjE2MDk5NTgyMTl9.ytn2r0K0ZPtKizuOaz3ILhFqX7T5QM8Le6tIOhWesNU"
                </code>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <code>/user/login</code>
                <br>
                By using this route you can create path to login to the system. When you calling this route you have to provide
                user's email address and password. This route will return the authentication token.
                <br>
                <i>
                    For testing purpose you can use the email and password that you have to when you are creating an account.
                    In a real situation, when user need to login to the system, only the person who has access can login to the system.
                </i>
            </div>
            <div class="col-lg-6">
                Data Set
                <br>
                <code style="color: chocolate">
                {<br>
                &nbsp;&nbsp;&nbsp;"email": "james@gmail.com",<br>
                &nbsp;&nbsp;&nbsp;"password": "james123",<br>
                }
            </code>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <code>/user/logout</code>
                <br>
                This route will help you to create a path to logout from the system. But you have to provide authentication
                token in the header.
                <br>
                <i>For testing purpose you can get this token when you create a new user.</i>
            </div>
            <div class="col-lg-6">
                Authentication Token
                <br>
                <code style="color: chocolate">
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZmY2MDM0YmYzNDI2NjI2ZTg2YmE5ODMiLCJpYXQiOjE2MDk5NTgyMTl9.ytn2r0K0ZPtKizuOaz3ILhFqX7T5QM8Le6tIOhWesNU"
                </code>
            </div>
        </div>
        <br>
        <h4>Card End Points</h4>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <code>/card/create</code>
                <br>
                This route will create new flash card in the system. To call this route you have to provide both flash card data set and the
                authentication token of the user. Because creating new flash card is a private route.
                <br>
                <i>For testing purpose you can get this token when you create a new user.</i>
            </div>
            <div class="col-lg-6">
                Data Set
                <br>
                <code style="color: chocolate">
                    {<br>
                    &nbsp;&nbsp;&nbsp;"subName": "DSA",<br>
                    &nbsp;&nbsp;&nbsp;"lessonTopic": "Insertion Sort",<br>
                    &nbsp;&nbsp;&nbsp;"description": "Test description",<br>
                    &nbsp;&nbsp;&nbsp;"question": "what is the time complexity of Insertion Sort?",<br>
                    &nbsp;&nbsp;&nbsp;"answer": "O(n^2)",<br>
                    &nbsp;&nbsp;&nbsp;"status": "know"<br>
                    }
                </code>
                <br>
                Authentication Token
                <br>
                <code style="color: chocolate">
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZmY2MDM0YmYzNDI2NjI2ZTg2YmE5ODMiLCJpYXQiOjE2MDk5NTgyMTl9.ytn2r0K0ZPtKizuOaz3ILhFqX7T5QM8Le6tIOhWesNU"
                </code>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <code>/card/get</code>
                <br>
                This route will return an array of all the flash cards created by a particular user. You have to provide the authentication token of the user to get
                all the flash cards.
                <br>
                <i>For testing purpose you can get this token when you create a new user.</i>
            </div>
            <div class="col-lg-6">
                Authentication Token
                <br>
                <code style="color: chocolate">
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZmY2MDM0YmYzNDI2NjI2ZTg2YmE5ODMiLCJpYXQiOjE2MDk5NTgyMTl9.ytn2r0K0ZPtKizuOaz3ILhFqX7T5QM8Le6tIOhWesNU"
                </code>
            </div>
        </div>
        <br>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="d-flex justify-content-center text-light">
                Created By -
                <a href="https://github.com/rusiruavb">
                    Rusiru Abhisheak
                </a>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>