<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Documentation</title>
    <style>
        .container {
            max-width: 80%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Flashcard Documentation
            </a>
        </div>
    </nav>

    <div class="container">
        <h2 class=" pt-lg-4 pt-sm-3 pt-xs-4">About this API</h2>
        <p>
            Flashcards are really helpful for student and teacher to actively recall lessons that they learnt.
            So, this api help developer who like to implement flashcard apps with using different frontend framewroks
            and libraries. By using this Flashcard API developers can complete fully functional flashcard application.
            And also this API has end-to-end backend validations and user authentication using JWT.
        </p>
        <h2 class="pt-lg-2">Technologies</h2>
        <p>
            Flashcard API implements using <b>Node JS</b> as backend server language and <b>Express</b> as backend framework. To store
            the data Flashcard API uses <b>MongoDB Atlas</b> as a database service. To implement user password hashing Flashcard
            API uses <b>Json Web Token (JWT)</b>. So, in the backend, all users passwords are hash into unreadable format. The
            important thing is hackers cannot trace users' passwords because when the passwords hashed once, it cannot convert
            to the plain text. So, users' passwords are securely store in the database.
        </p>
        <h2 class="pt-lg-2">API End Points</h2>
        <p class="text-nowrap bd-highlight">
            Before using any end points you have to call this url - <code>https://apiflashcard.herokuapp.com/</code><br>
            You can use <a href="https://www.postman.com/downloads/"><b>Postman</b></a> software to test this API in your computer.
        </p>
        <div>
            <code>/user/createacc</code> - This route will create new user in the system. When you calling this route you have to
            give the dataset like this. And this route will return newly created user and the authentication token of that user.
            <br>
            <code>
                {<br>
                &nbsp;&nbsp;&nbsp;"name": "James Wiliam",<br>
                &nbsp;&nbsp;&nbsp;"email": "james@gmail.com",<br>
                &nbsp;&nbsp;&nbsp;"password": "james123",<br>
                &nbsp;&nbsp;&nbsp;"school": "Oxford University",<br>
                &nbsp;&nbsp;&nbsp;"field": "Software Engineering",<br>
                &nbsp;&nbsp;&nbsp;"profilePicture": "https://sample.com"<br>
                }
            </code>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>